@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quicksand:wght@400;500;600&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Noto Serif HK', sans-serif;
                                                
}

body{
    display: flex;
    width: 80vw;
    height: 100vh;
    justify-self: center;
}

.box_left {
    max-width: 33vw;
    width: 100%;
    background-color: darkolivegreen;
    display: flex;
    flex:auto;
    position:relative;
}

.box_right {
    width: calc(100%);
    background-color: grey;
    flex:auto;
    position:relative;
    
}


.card_body {
    background : rgba(255,255,255,.9);
    width: calc(100%);
    position: absolute;
    top: calc(20vh + 10rem + 20px);
    padding-left: 5vw;
    padding-right: 8vw;

    display:flex;
    flex-direction: column;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    
}

.card_body_2{

    display:flex;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20vh;
    width: 100%;
    height: 15vh;

}

.left_title{
    display:flex;

    flex-shrink: 0;
    justify-content: center; 
    align-self: center;
    width:100%;
    height:80%;
    font-size: 10vh;
}
.left_txt{
    padding-left: 1vw;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 10px;
    align-self: center;
}

.title {
    position: absolute;
    bottom: calc(100% + 3vh);
    font-size: 1.5em;
    padding-right: 5vw;
    color:white;
}



.form{
    padding-top: 2vh;
    padding-bottom:1vh;
    display:flex;
}

label,input{
  display:flex;
  
  margin-bottom: .5vh;
  margin-right: 5vw;

}


.bottom_box {
    position: absolute;
    top: calc(100% + 3vh);
}

input {
  
    position:relative;
    font-size: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: .5em;
    border-width: thin;
    border-color:#779ECB;


}

input:focus {
    outline-color: #678ab2;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 255, .2);

}


input:invalid {
    outline-color: red;
    border-color:red;
}


button {
    border-radius: 1em;
    padding: 10px 40px ;
    border: solid 1px;
    background-color: #779ECB;
    color: white;
}

button:hover {
    border-color: #779ECB;
    background-color: white;
    color:#779ECB;
    font-weight: bold;
}

label {
    font-size: .7em;
    color:black;
    letter-spacing: 3px;
    padding: .1vh;

}


.sign_up {
    margin: 2vh 0;
}

.socials{
    display:flex;
    width:100%;
    justify-content: start;
    height: fit-content;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 1vw;

}

li {
    padding: 1vw;
    
}


